*.json
node_modules
index.js
types.js
public/outputs/**/*
bundle.js
bundle.js.map

.DS_Store

!cacheMeIfYouCan/*.json
!cacheMeIfYouCan/cached/test.json

cacheMeIfYouCan/env.json
cacheMeIfYouCan/log.txt

!cypress.js*
!cypress/**/*