.notFoundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    p {
        width: 70vw;
        text-align: center;
        margin: 0;
    }
}

.notFoundHeader {
    font-size: 12rem;
    margin: 0;
}

.notFoundSubheader {
    margin: 0;
}

.notFoundReturnLink {
    a {
        font-weight: bolder;
        color: #ecf0f1;
    }
}
