.container {
    position: relative;
    h2,
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.movieImage {
    width: 90vw;
    @media only screen and (min-width: 750px) {
        width: 300px;
    }
}

.subContainer {
    z-index: -1;

    filter: blur(10px);
    opacity: 0.5;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.horizontal {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    * {
        margin: 0;
    }
    margin: 10px 0;
}

.imageAndInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    table {
        font-weight: bold;
        td:nth-child(2) {
            text-align: right;
            font-weight: initial;
            width: 200px;
        }
    }
    @media only screen and (min-width: 750px) {
        justify-content: flex-start;
        flex-direction: initial;
        table {
            margin-left: 15px;
        }
    }
    @media only screen and (min-width: 1800px) {
        min-height: 500px;
    }
}

.actorList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: hidden;
    border-top: 1px solid white;
    @media only screen and (min-width: 750px) {
        border-top: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.plot {
    padding: 15px 0;
    border-bottom: 1px solid white;
}

.add {
    border: none;
    position: fixed;
    color: white;
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    bottom: 10px;
    left: 10px;
    font-size: 2rem;
    z-index: 9999;
    &:hover {
        cursor: pointer;
        background-color: lightgreen;
    }
}
