.radarrContainer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 53px;
    display: flex;
    flex-direction: row-reverse;
    width: 220px;
    justify-content: flex-start;
    z-index: 9999;
    a {
        text-decoration: none;
        z-index: 9998;
    }
}

.add {
    display: flex;
    align-items: center;
    border: none;
    color: #ecf0f1;
    background-color: #27ae60;
    border-radius: 50px;
    font-size: 0.95rem;
    padding: 0.5rem 1rem;
    z-index: 9998;
    margin-right: 10px;
    &:hover {
        cursor: pointer;
        background-color: #2ecc71;
        & .big {
            animation: spin 1s linear infinite;
        }
    }
    animation: textgrow 200ms linear;
}

@keyframes textgrow {
    0% {
        font-size: 0rem;
    }
    100% {
        font-size: 0.95rem;
    }
}

.setup {
    background-color: #95a5a6;
    color: #ecf0f1;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    z-index: 10000;
    img {
        width: 20px;
    }
    &:hover {
        cursor: pointer;
        background-color: #bdc3c7;
    }
    &.close {
        background-color: #c0392b;
        p {
            width: 20px;
        }
    }
    transition: background-color 1s;
}

.big {
    font-size: 2rem;
    margin-right: 0.5rem;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.formBackground {
    position: fixed;
    background-color: #2c3e50;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 20px;
    h1 {
        margin: 0;
    }
    small {
        margin-bottom: 10px;
    }
}

.formInner {
    display: flex;
    flex-direction: column;
    input {
        font-size: 1.5rem;
    }
    button {
        margin-top: 5px;
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 100%;
    }
}
