.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    #searchInput {
        font-size: 2rem;
        color: #2c3e50;
    }
}

.searchSticky {
    position: sticky;
    top: 50px;
    background-color: #2f7dcc;
    z-index: 1;
    @media only screen and (min-width: 750px) {
        margin: 0px -20px;
        padding: 0px 20px;
        top: 0;
    }
}

.searchResultContainer {
    margin: auto;
    margin-bottom: 50px;
    @media only screen and (min-width: 750px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.searchResult {
    display: flex;
    color: #ecf0f1;
    border-top: 0.5px solid #ecf0f1;
    border-bottom: 0.5px solid #ecf0f1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    height: 142px;
    &:hover {
        background-color: #2980b9;
    }
    img {
        width: 92px;
    }
    @media only screen and (min-width: 750px) {
        width: 400px;
        border: 1px solid #ecf0f1;
        margin: 10px;
        border-radius: 10px;
        img {
            border-radius: 10px 0 0 10px;
        }
    }
}

.searchResultVertical {
    padding: 10px;
    h2 {
        margin: 0;
    }
}
