.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    #searchInput {
        font-size: 2rem;
        color: #2c3e50;
        max-width: 80vw;
    }
}

.searchSticky {
    position: sticky;
    top: 0;
    background-color: #2f7dcc;
    z-index: 1;
    padding: 20px 5px 10px 5px;
    @media only screen and (min-width: 750px) {
        margin: 0px -20px;
        padding: 10px 20px;
    }
    @media only screen and (min-width: 350px) {
        padding-top: 40px;
    }
}

.searchResultContainer {
    margin: auto;
    margin-bottom: 50px;
    @media only screen and (min-width: 750px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.searchResult {
    display: flex;
    color: #ecf0f1;
    border-top: 0.5px solid #ecf0f1;
    border-bottom: 0.5px solid #ecf0f1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    height: 142px;
    &:hover {
        background-color: #2980b9;
    }
    img {
        width: 92px;
    }
    @media only screen and (min-width: 750px) {
        width: 400px;
        border: 1px solid #ecf0f1;
        margin: 10px;
        border-radius: 10px;
        img {
            border-radius: 10px 0 0 10px;
        }
    }
}

.searchResultVertical {
    padding: 10px;
    h2 {
        margin: 0;
    }
}

.movieSvg,
.tvSvg {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    path {
        fill: white;
    }
}
