.trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    justify-self: flex-end;
    @media only screen and (min-width: 1800px) {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.trailerFrame {
    border: none;
    width: 320px;
    height: 200px;
    overflow: hidden;
    html {
        overflow: hidden;
    }
    @media only screen and (min-width: 900px) {
        width: 860px;
        height: 500px;
    }
}
