.trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    justify-self: flex-end;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ecf0f1;
    @media only screen and (min-width: 1660px) {
        position: absolute;
        top: 60px;
        right: 0;
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }
}

.trailerFrame {
    border: none;
    width: 95vw;
    height: calc(95vw * 0.625);
    overflow: hidden;
    filter: drop-shadow(0px 0px 15px #000);
    html {
        overflow: hidden;
    }
    @media only screen and (min-width: 900px) {
        width: 860px;
        height: 500px;
    }
}
